@font-face {
  font-family: SpecialFont;
  src: url(../font/BrunoAceSC-Regular.ttf) format("truetype");
}

@font-face {
  font-family: HeadingFont;
  src: url(../font/Paprika-Regular.ttf) format("truetype");
}

@font-face {
  font-family: RegularFont;
  src: url(../font/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
  font-family: LightFont;
  src: url(../font/Montserrat-Light.ttf) format("truetype");
}

@font-face {
  font-family: MediumFont;
  src: url(../font/Montserrat-Medium.ttf) format("truetype");
}

@font-face {
  font-family: SemiFont;
  src: url(../font/Montserrat-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: BoldFont;
  src: url(../font/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
  font-family: BlackFont;
  src: url(../font/Montserrat-Black.ttf) format("truetype");
}

@font-face {
  font-family: ExtraBoldFont;
  src: url(../font/Montserrat-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: ExtraLightFont;
  src: url(../font/Montserrat-ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: ThinFont;
  src: url(../font/Montserrat-Thin.ttf) format("truetype");
}
